<div class="container">
    <h3>ID: {{contact.id}}</h3>
    <div class="card" style="width:400px">
        <div class="card-body">
            <h4 class="card-title">Name: {{contact.name}}</h4>
            <p class="card-text">Email: {{contact.email}}</p>
            <p class="card-text">Phone: {{contact.phone}}</p>
            <button type="submit" class="btn btn-default btn-sm" routerLink='/contact-list'>
        <span class="glyphicon glyphicon-chevron-left"></span>BACK</button>
        </div>
    </div>
</div>